<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cloud Database Maintenance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B284E58420D02B7400A6466E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B284E59920D02B7700A6466E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B284E5A420D02B7700A6466E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
